{{right_sidebar_enabled=True}}

{{extend 'layout.html'}}


<div class="about" style="direction: rtl;">
<h3>فكرة االموقع:</h2>
<p>
المشاركة فى ختم القران مثل حلقات التلاوة</p>
<h3>الهدف:</h2>
<p>
تشجيع وتحفيز على المشاركة فى ختم القران قدر الْمُسْتَطَاعِ(<a href="{{URL('default','juz'" > جزء</a>/<a href="{{URL('default','hizb'" > حزب</a>)
</p>
<h3>النتائج بعد تجربتها</h2>
<p>
ختم القرآن اكثر من مرة خلال الاسبوع , وان كل مشارك خلال (شهر او شهرين) قد ختم لنفسه ختمة كامله باختياره اجزاء مختليفة 
</p>
<h2>خطوات المشاركة</h2>
<p>
1-حدد ما تستطيع ان تقراءه(<a href="{{URL('default','juz'" > جزء</a>/<a href="{{URL('default','hizb'" > حزب</a>).<br>
2-اذهب للقسم الذى اخترته(<a href="{{URL('default','juz'" > جزء</a>/<a href="{{URL('default','hizb'" > حزب</a>) .<br>
3-اضغط على الجزء المتاح للقراءه.<br>
4-اتبع التعليمات داخل الصفحه.<br>
****تقبل الله منا ومنكم صالح العمل*****
</p>
</div>