{{right_sidebar_enabled=True}}

{{extend 'layout.html'}}
<div class="incent">
<article class="rightside">
<p>قال الله تعالى:<br>{ إِنَّ الَّذِينَ يَتْلُونَ كِتَابَ اللَّهِ وَأَقَامُوا الصَّلَاةَ وَأَنفَقُوا مِمَّا رَزَقْنَاهُمْ سِرًّا وَعَلَانِيَةً يَرْجُونَ تِجَارَةً لَّن تَبُورَ* لِيُوَفِّيَهُمْ أُجُورَهُمْ وَيَزِيدَهُم مِّن فَضْلِهِ إِنَّهُ غَفُورٌ شَكُورٌ} [فاطر:29-30] .</p>
<p>عن أَبي موسى الأشعري - رضي الله عنه - ، قَالَ : قَالَ رسول الله - صلى الله عليه وسلم - : <br>« مَثَلُ الْمُؤْمِنِ الَّذِي يَقْرَأُ القُرْآنَ مَثَلُ الأُتْرُجَّةِ : رِيحُهَا طَيِّبٌ وَطَعْمُهَا طَيِّبٌ ، وَمَثَلُ الْمُؤْمِنِ الَّذِي لاَ يَقْرَأُ القُرْآنَ كَمَثَلِ التَّمْرَةِ : لاَ رِيحَ لَهَا وَطَعْمُهَا حُلْوٌ ، وَمَثلُ المُنَافِقِ الَّذِي يقرأ القرآنَ كَمَثلِ الرَّيحانَةِ : ريحُهَا طَيِّبٌ وَطَعْمُهَا مُرٌّ ، وَمَثَلُ المُنَافِقِ الَّذِي لاَ يَقْرَأُ القُرْآنَ كَمَثلِ الحَنْظَلَةِ : لَيْسَ لَهَا رِيحٌ وَطَعْمُهَا مُرٌّ » متفقٌ عَلَيْهِ .</p>
<p>شارك فى ختمة القرآن الكريم تلاوة</p>
</article>
<aside class="leftside">
<img src="../static/images/1.jpeg" alt="">
<img src="../static/images/2.jpg" alt="">

</aside>




</div>